body{
    background-image: url();
      color: white;
      padding: 0px;
      margin: 0px;
height: 100%;
width: 100%;

  }
.image{
    height: 100%;
    width: 100%;
}
  .left{
      position: absolute;
      left: 34px;
      top: 20px;
      display: inline-block;
      /* border: 2px solid red; */
  }
  .center{
      display: block;
      width: 50%;
      margin: 16px auto;
      /* border: 2px solid gold */

  }
  .right{
    
      position: absolute;
      right: 34px;
      top:  31px;
      display: inline-block;
      /* border: 2px solid black; */

  }
  .btn {
      border: 2px solid green;
      border-radius: 10px;
      padding:4px 14px ;
      margin: 20px 5px;
      cursor: pointer;
      font-size: 18px;

  }
  .btn:hover{
      background-color: pink;
  }
  .navbar{
    background-color: red;
      display: inline-block;
      font-size: 25px;
      width: 600px;
      height: 60px;
      border-radius: 10px;
  }
  .navbar li{
      display: inline-block;
      margin-top: 14px;
    }
    .navbar li a{
      color:white;
      text-decoration:none;
      padding: 15px 10px ;

  }
  .navbar li a:hover,.navbar li a.active{
  text-decoration: underline;
  color: blue;
  }
  .left img{
      margin-left: 30px;
      width:70px;
      height: 70px;
  }
  #img{
      line-height: 30px;
      text-align: center;
      color:white;
      font-size: 25px;
      margin-top: 2 px;
  }
  .container{
  border: 2px solid white;
  border-radius: 15px;
  margin: 130px 50px;
  width: 40%;
  padding: 40px 70px;
  color: white;

}
.formgroup input{
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  text-align:center;
  display: block;
  width: 400px;
  margin: 11px auto;
  font-size: 20px;
}
.container h1{
  text-align: center;
}
.container button{
  display: block;
  margin: 20px auto;
  width: 400px;
  background-color: black;
  color: white;
  font-size: 25px;
}
ul li{
    font-size: 20px;
}